/* body{
  overflow-x: hidden;
} */
.header {
  background-size: cover;
  min-height: 100vh;
}
.header .navbar {
  background-color: transparent !important;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
}
h1, h2, h3, h4, h5, span, p{
  font-family: 'Poppins', sans-serif;
}
.inicio-container{
  position: absolute;
  width: 100%;
}
.texto-inicio{
  font-size: 4.5rem;
  line-height: 1.2;
  font-weight: 600 !important;
  padding-top: 7%;
  width: 100%;
}
.sub-inicio{
  font-size: 22px;
  position: absolute;
  width: 100%;
}
.road-btn{
  fill: #fff;
  color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 0 0 0 0;
  padding: 12px 30px;
}
.roadt-btn{
  fill: #fff;
  color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 0 0 0 0;
  padding: 12px 30px;
  background-color: transparent;
}
.button-container{
  padding-top: 4.4rem;
}
.button-container .road-btn{
  margin-left: 15px;
}

.button-container .roadt-btn{
  margin-right: 15px;
}

body {
  background-color: #999;
}

.wrap-arrow {
  height: 100%;
  width: 100%;
  text-align: center;
}

.wrap-arrow img {
  height: 50px;
  width: auto;
  cursor: pointer;
}

.wrap-arrow img {
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 20%;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 2.5s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  15.55556% {
    transform: translateY(0);
  }
  21.11111% {
    transform: translateY(0);
  }
  32.22222% {
    transform: translateY(-15px);
  }
  47.77778% {
    transform: translateY(0);
  }
  53.33333% {
    transform: translateY(-15px);
  }
  64.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.first-sec{
  position: relative;
  /* height: 700px; */
  width: 100%;
  background-color: #FFBE2E;
}
.main-text{
  font-weight: 600;
  color: #110B0B;
  font-size: 3rem;
}
.secondary-text{
  font-weight: 600;
  color: #969696;
  font-size: 13px;
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;

}
.b-left{
  border-left: 15px solid #d74e09;
  padding-left: 15px;
  border-radius: 10px;
}
.nosotros-text{
  font-size: 22px;
  color: #ffffff;
  padding-top: 15px;
}
.nosotros-text p{
  margin-bottom: 0px!important;
  line-height: 1.2!important;
}
.bg-we{
  background-color: #FFBE2E;
}
.second-sec{
  width: 100%;
  height: 800px;
  background-color: #171717;
  position: relative;
}
/* .second-sec .secondary-text{
  display:inline-block;
  border-bottom:2px solid #aaa;
  padding-bottom:2px;
} */
.text-mark{
  color: #aaaaaa;
}
.services-list a{
  display: block;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: rgb(240, 240, 240);
  letter-spacing: -1px;
  font-size: 35px;
  padding: 20px 0;
  font-weight: 400;
  transition-duration: .9s;
  cursor: pointer;
}
.services-list a:hover{
  color: rgb(240, 240, 240);
}
.services-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-box{
  width: 100%;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.service-box p{
  color: rgb(240, 240, 240);
  font-size: 24px;
  padding-top: 35px;
}

.portfolio{
  background-color: #000000e8;
  width: 100%;
  position: relative;
}

.etiquetas-container{
  width: 100%;
}
.title-port{
  font-size: 35px;
  font-weight: 500;
  color: #726666;
}
.etiqueta{
  color: rgb(240, 240, 240);
  padding: 7.5px 15px;
  font-weight: 400;
  font-size: .8rem;
  letter-spacing: 0.22rem;
  text-transform: uppercase;
  margin-right: 1.5rem;
  display: inline-block;
  line-height: 1.75;
}
.port-box{
  display: flex;
  justify-content: center;
}
.port-box img{
  transition-duration: .5s ;
}

.contact{
  position: relative;
  background-color:rgb(240, 240, 240);
  padding: 70px 0;

}
.contact ul h1{
  font-size: 3rem;
  color: #FFBE2E;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;

}
.contact ul h2{
  font-size: 1.8rem;
  color: #816363;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
}
.contact a{
  color: #816363;
}
.contact .fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}





/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  width: 100%;  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrap-contact2 {
  width: 100%;
  overflow: hidden;
  /* padding: 10px 55px 10px 55px; */
}


/*------------------------------------------------------------------
[  ]*/

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}



/*------------------------------------------------------------------
[  ]*/

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: FFBE2E;
  background: -webkit-linear-gradient(45deg, #FFBE2E, #e53935);
  background: -o-linear-gradient(45deg, #FFBE2E, #e53935);
  background: -moz-linear-gradient(45deg, #FFBE2E, #e53935);
  background: linear-gradient(45deg, #FFBE2E, #e53935);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
  background-color: transparent;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: transparent;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  /* background: #756969; */
  background-color: #FFBE2E;
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

 

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  

}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/
/*
@media (max-width: 576px) {
  .wrap-contact2 {
     padding: 10px 15px 10px 15px;
  }
}
*/


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  /* background-color: white; */
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: 'Poppins', sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: 'Poppins', sans-serif;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}